/* Universal*/
:root{
    --white: #FFFFFF;
    --black: #000000;
    --blueReal: #205BFF;
    --blueOcean: #060fb5;
    --bluefake: #86a6fd;
    --light-pink: #C7C7C7;
    --input-field: #F7F7F7;
    --text-input: #eceaea;
    --less-white: #eceaeb;
    --title: #333333;
    --sm:1em;
    --md:1.3em;
    --ym:1.5em;
    --lg:2em;
    }
    body{
        font-family: 'Unna', serif;
        background-color: var(--less-white);
    }
    html {
        font-size: 62.5%;
    }
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .inactive{
        display: none;
    }
/*Navbar*/
    nav{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100vw;
        font-size: var(--md);
        background-color: var(--bluefake);
        height: 7em;
    }
    .ABG{
        text-decoration: none;
        width: 20em;
    }
    .burguer-menu{
        display: none;
        width: 4em;
    }
    .right-nav a{
        text-decoration: none;
        color: var(--less-white);
    }
    .right-nav ul{
        list-style: none;
        display: flex;
        font-size: var(--lg);
        gap: 1em;
    }
    /*Mobile Menu*/
    .mobile-menu{
        height: 100vh;
        width: 100vw;
        background-color: var(--bluefake);
        position: relative;
        top: 3em;
        left: 10em;
        border-radius: 2em;
    }
    .mobile-menu ul{
        padding: 1em;
        list-style: none;
        display: flex;
        flex-direction: column;
        font-size: 4em;
        justify-content: flex-end;
    }
    .mobile-menu a{
        text-decoration: none;
        color: var(--less-white);
    }
    /*footer*/
    footer{
        background-color: var(--bluefake);
        width: 100vw;
        color: var(--black);
    }
    .pre-footer{
        border-top: 0.2em solid var(--blueReal);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em 5em;
    }
    .menu-footer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5em;
        font-size: var(--lg);
        width: 8em;    
    }
    .menu-footer p{
        color: var(--blueOcean); 
    }
    .menu-footer a{ 
        text-decoration: none;
        color: var(--black);
    }
    .redes-sociales ul{
        list-style: none;
        font-size: var(--lg);
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--blueOcean);
    }
    .redes-sociales img{
        list-style: none;
        width: 1.5em;
        margin: 0.5em 0 0 0.3em;
    }
    .copyright{
        display: flex;
        font-size: 2em ;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--light-pink);
        list-style: none;
        padding: 1em;
        border-top: 0.1em solid var(--blueReal);
    }
    .copyright a{
        text-decoration: none;
        color: var(--black);
    }
    /*media*/
    @media(max-width: 640px){
        .pre-footer{
            flex-direction: column;
            gap: 1em;
            padding: 2em 3em;
        }
        .menu-footer ul{
            width: 15em;    
        }
        .number{
            display: none;
        }
        .right-nav{
            display: none;
        }
        .burguer-menu{
            display: block;
        }
    }
    @media(max-width: 280px){
        .pre-footer{
            padding: 3em 7em;
        }
        }