/* Universal*/
:root{
    --white: #FFFFFF;
    --black: #000000;
    --blueReal: #205BFF;
    --blueMenu:  #0b1024;
    --blueOcean: #0b1024;
    --bluefake: #002955;
    --light-pink: #C7C7C7;
    --input-field: #F7F7F7;
    --text-input: #eceaea;
    --less-white: #eceaeb;
    --title: #333333;
    --sm:1em;
    --md:1.3em;
    --ym:1.5em;
    --lg:2em;
    }
    html {
        font-size: 62.5%;
    }
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        font-family: sans-serif;
        background-color: var(--less-white);
    }
    body .inactive{
        display: none; 
    }
   
/*Navbar*/
    nav{
        display: flex;
        justify-content:space-around;
        align-items: center;
        width: 100vw;
        font-size: var(--md);
        background-color: var(--bluefake);
        height: 7em;
    }
    .ABG{
        text-decoration: none;
        width: 20em;
    }
    .burguer-menu{
        display: none;
        width: 4em;
    }
    .add-close-menu img{
        display: none;
        width: 4em;
    }
    .right-nav a{
        text-decoration: none;
        color: var(--less-white);
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
    }
    .right-nav a:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #2098D1;
        height: 0.1em;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .right-nav a:hover:before, .right-nav a:focus:before, .right-nav a:active:before {
        right: 0;
    }
    .right-nav ul{
        list-style: none;
        display: flex;
        font-size: var(--lg);
        gap: 1em;
    }
    /*Mobile Menu*/
    .mobile-menu{
        height: 100vh;
        width: 100vw;
        background-color: var(--bluefake);
        padding: 5em 1em;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .mobile-menu ul{
        list-style: none;
        display: flex;
        width: 90vw;
        flex-direction: column;
        font-size: 1.7em;
        gap: 1em;
    }
    .mobile-menu a{
        text-decoration: none;
        color: var(--less-white);
    }
    .mobile-menu li{
       border: 0.1em solid var(--blueMenu);
       background-color: var(--blueMenu);
       padding: 0.8em;
       border-radius: 0.5em;
    }
    .wa-me{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0.4em;
        padding: 0.6em;
        width: 80vw;
        margin-bottom: 4em;
        font-size: 2em;
        text-decoration: none;
        transition: width 0.5s ease;
        background-color: forestgreen;
    }
    .wa-me img{
        width: 2em;
    }

    /*home load*/
    .load-home{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100vw;
       height: 20vh;
       padding: 8em;
       gap: 2em;
    }
    .load-home p{
        font-size: 5.5em;
        font-weight: bold;
        text-align: center;
    }
    .load-home a{
        font-size: 3em;
    }
    /*team image*/
    .team-image{
        position: relative;
        line-height: 0;
        margin-top: 10em;
        bottom: -20em;
    }
    .team-image img{
        width: 100vw;
        height: 50em;
    }

    /*card-container*/
    .card-body-container{
        display: flex;
    }
    .card-container{
        display: flex;
        justify-content: center;
        padding: 2em;
        align-items: center;
    }
    .card{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        border:0.1em solid var(--bluefake) ;
        background-color: var(--bluefake);
        width: 33em;
        height: 60em;
        padding: 3em;
        color: var(--less-white);
        -webkit-transform: perspective(0) translateZ(0);
        transform: perspective(0) translateZ(0);
         box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .card:hover, .card:focus, .card:active {
        -webkit-transform: scale(1.0);
        transform: scale(1.05);
    }
    .card1,
    .card3{
        background-color: var(--blueOcean);
    }
    .card h1{
        font-size: 2.5em;
        font-weight: bolder;
    }
    .card p{
        font-size: var(--lg);
    }
    .card img{
        width: 5em;
    }
    .read-more{
        text-decoration: none;
        display: flex;
        justify-content: center;
        background-color: var(--title);
        height: 1.5em;
        padding: 1em;
        align-items: center;
        font-size: var(--lg);
        color: var(--less-white);
        width: 10em;
        transition: width 0.25s ease-in-out;
    }
    .read-more:hover{
        width: 12em;
        background-color: #205BFF;
    }

    /*main body*/
    .body-med{
        display: flex;
        background-color: var(--bluefake);
        height: 60em;
    }
    .body-right::before,
    .body-left::after{
        content: "";
        width: 50vw;
        height: 100%;
        background-image: url("https://i.postimg.cc/Z5gSRStF/topic-statue-of-liberty-gettyimages-960610006-feature.jpg" );
        background-size:cover;
        background-position: center;
    }
    .body-med div{
        width: 50vw;
    }
    .body-right p,.body-right h1{
        text-align: start;
    }
    .body-left p, .body-left h1{
        text-align: end;
    }
    .text-body-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.7em;
        color: var(--light-pink);
        padding: 3em;
    }
    .text-body-container a{
        font-size: 1.1em;
        width: 20em;
    }
    .text-body-container h1{
        font-size: 2.5em;
    }
    .mobile-body-image{
        display: none;
        width: 100vw;
        padding: 2em;
    }
    /*footer*/
    footer{
        background-color: var(--bluefake);
        width: 100vw;
        color: var(--less-white);
    }
    .pre-footer{
        border-top: 0.2em solid var(--blueReal);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em 5em;
    }
    .menu-footer ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 0.5em;
        font-size: var(--lg);
        width: 7em;    
    }
    .menu-footer p{
        color: var(--blueReal); 
    }
    .menu-footer a{ 
        text-decoration: none;
        color: var(--less-white);
    }
    .redes-sociales ul{
        list-style: none;
        font-size: var(--lg);
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--blueOcean);
    }
    .redes-sociales img{
        list-style: none;
        width: 1.5em;
        margin: 0.5em 0 0 0.3em;
    }
    .copyright{
        display: flex;
        font-size: 2em ;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--light-pink);
        list-style: none;
        padding: 1em;
        border-top: 0.1em solid var(--blueReal);
        color: var(--black);
    }
    .copyright a{
        text-decoration: none;
        color: var(--black);
    }
    .wa-me-desk{
        width: 10em;
        position: fixed;
        top: 18em;
        right: 1em;
        text-decoration: none;
        color: var(--less-white);
        justify-content: space-evenly;
        border-radius: 1.5em;
    }
    /*medias*/
    @media(max-width: 640px){
        .burguer-menu{
            display: block;
        }
        .right-nav{
            display: none;
        }
        .card-container{
            flex-direction: column;
        }
        .card{
            width: 85vw;
        }
        .body-right::before,
        .body-left::after{
           background-image: none;
        }
        .body-right p,.body-right h1,
        .body-left p, .body-left h1{
            text-align: baseline;
        }
        .body-med{
            height: 100vh;
        }
        .body-med div{
            width: 100vw;
        }
        .text-body-container{
            font-size: 1.8em;
            padding: 5em;
        }
        .mobile-body-image{
            display: block;
        }
        .pre-footer{
            flex-direction: column;
            gap: 1em;
            padding: 2em 3em;
        }
        .menu-footer ul{
            width: 15em;    
        }
        .number{
            display: none;
        }
        .card:hover{
            height: 60em;
            width: 85vw;
        
    }
    .wa-me-desk{
        display: none;
    }
}
    @media(max-width: 280px){
        .pre-footer{
            padding: 3em 7em;
        }
        .ABG{
            width: 13em;
        }
    }